section {
    background: #eee;
    margin-top: 1em;
    padding: 1em;
}

section.hidden {
    display: none;
}

form input, form button {
    font-size: 16px;
}

#details__content,
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    padding: 10px 20px 10px 10px;
    text-align: left;
}

table tr:nth-child(even) td {
    background: #ddd;
}

table td.actions {
  min-width: 95px;
}

.delete {
  background: red;
  border: solid 1px #fff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.details {
  background: green;
  border: solid 1px #fff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

svg {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

dialog {
    height: 100%;
    width: 100vw;
    background: #f0fff0;
    overflow: auto;
    border: 0;
    margin: 0;
    top: 0;
}
